<center>
  <div id="<%#= dom_id employee %>">
    <h5>
      <%= image_tag employee.image, style:"width: 100px" %>
    </h5>

    <p>
      <strong>Company ID:</strong>
      <%= employee.company_id %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= employee.name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= employee.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= employee.email %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= employee.address %>
    </p>

    <p>
      <strong>Designation:</strong>
      <%= employee.designation %>
    </p>

    <p>
      <strong>City:</strong>
      <%= employee.city %>
    </p>

    <p>
      <strong>Mob no:</strong>
      <%= employee.mob_no %>
    </p>

    <p>
      <strong>Salary:</strong>
      <%= employee.salary %>
    </p>

    <p>
      <strong>Technology:</strong>
      <%= employee.technology %>
    </p>
  </div>
</center>
